@import "../../styles/variables";

.trainningEvent {
  &-wrapper {
    background: $background-block-color;
    box-sizing: border-box;

    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__target-block {
    margin: 15px;
    display: flex;
    flex-direction: column;
    h1 {
      text-align: center;
    }
    // h1 {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   color: $text-color;
    //   margin-bottom: 10px;

    //   font-family: Proxima Nova;
    //   font-style: normal;
    //   font-weight: 800;
    //   font-size: 24px;
    //   line-height: 29px;
    //   letter-spacing: 0.01em;
    //   // text-transform: uppercase;
    // }
  }
  &__btn {
    margin: 10px;
    width: 95%;
  }
  &__table {
    margin-left: 10px;
    margin-right: 10px;
  }
}
